NET "xtal" LOC="b8" | CLOCK_DEDICATED_ROUTE = FALSE;

NET "ano<0>" LOC="f17"    | IOSTANDARD=LVCMOS33;
NET "ano<1>" LOC="h17"    | IOSTANDARD=LVCMOS33;
NET "ano<2>" LOC="c18"    | IOSTANDARD=LVCMOS33;
NET "ano<3>" LOC="f15"    | IOSTANDARD=LVCMOS33;

NET "cath<0>" LOC="l18"   | IOSTANDARD=LVCMOS33;
NET "cath<1>" LOC="f18"   | IOSTANDARD=LVCMOS33;
NET "cath<2>" LOC="d17"   | IOSTANDARD=LVCMOS33;
NET "cath<3>" LOC="d16"   | IOSTANDARD=LVCMOS33;
NET "cath<4>" LOC="g14"   | IOSTANDARD=LVCMOS33;
NET "cath<5>" LOC="j17"   | IOSTANDARD=LVCMOS33;
NET "cath<6>" LOC="h14"   | IOSTANDARD=LVCMOS33;
NET "cath<7>" LOC="c17"   | IOSTANDARD=LVCMOS33;

NET "btns<0>" LOC="H13"   | IOSTANDARD=LVCMOS33;
NET "btns<1>" LOC="E18"   | IOSTANDARD=LVCMOS33;
NET "btns<2>" LOC="D18"   | IOSTANDARD=LVCMOS33;
NET "btns<3>" LOC="B18"   | IOSTANDARD=LVCMOS33;

NET "ndf_r_b_n" LOC="M14" | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=4;
NET "ndf_re_n" LOC="L16"  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=4;
NET "ndf_ce_n" LOC="K13"  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=4;
NET "ndf_cle" LOC="M15"   | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=4;
NET "ndf_ale" LOC="L17"   | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=4;
NET "ndf_we_n" LOC="K12"  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=4;
NET "ndf_wp_n" LOC="L15"  | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=4;

NET "ndf_io<0>" LOC="M13" | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=4;
NET "ndf_io<1>" LOC="R18" | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=4;
NET "ndf_io<2>" LOC="R15" | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=4;
NET "ndf_io<3>" LOC="T17" | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=4;
NET "ndf_io<4>" LOC="P17" | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=4;
NET "ndf_io<5>" LOC="R16" | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=4;
NET "ndf_io<6>" LOC="T18" | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=4;
NET "ndf_io<7>" LOC="U18" | IOSTANDARD=LVCMOS33 | SLEW=SLOW | DRIVE=4;
